/* Add CSS Styling */

.odd {
    background-color: rgb(209, 141, 152);
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

#second {
    color: hsl(240, 57%, 42%);
    font-size: 36px;
}

.third {
    font-size: 24px;
}

#fourth {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}