body {
  background: #d0c9c9;
  font-family: sans-serif;
}

.card {
  width: 800px;
  background: #fff;
  padding: 16px;

}

.title {
  background: #cadce8;
  padding: 16px;
}

.content {
  background: #cadce8;
  margin-bottom: 16px;
  font-size: 32px;
  padding: 16px;
}

.button-container {
  background: #cadce8;
  font-size: 32px;
  text-align: center;
  padding: 16px;
}

button {
  display: block;
  margin: 0 auto;
  background: white;
  border: 1px solid #eee;
  font-size: 32px;
}